<div class="card">
  <div class="card-header text-white" [ngClass]="{'bg-danger': order.is_urgent, 'bg-color2': !order.is_urgent}">
    {{ order.provider }}
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-start mb-2">
      <ul class="list-unstyled">
        <li><b>Date de création:</b> {{ order.date_created | date:"d/M/y" }}</li>
        <li><b>Equipe:</b> {{ order.team }}</li>
      </ul>
      <div class="btn-group">
        <button class="btn btn-warning mr-1" [ngClass]="{'btn-outline-warning': !order.has_problem}"
                (click)="toggleProblem(order)">
          <i class="fa fa-warning"></i> Problème
        </button>
        <button class="btn btn-danger mr-1" [ngClass]="{'btn-outline-danger': !order.is_urgent}"
                (click)="toggleUrgent(order)">
          <i class="fa fa-flash"></i> Urgent
        </button>
        <button class="btn btn-dark" [ngClass]="{'btn-outline-dark': !order.is_confidential}"
                (click)="toggleConfidential(order)">
          <i class="fa fa-user-secret"></i> Confidentiel
        </button>
      </div>
    </div>
    <table class="table table-striped table-responsive-lg">
      <caption>PRIX TOTAL COMMANDE: {{ getTotalPrice() | currency:'EUR' }}</caption>
      <thead class="thead-dark bg-gradient-color5">
      <tr>
        <th class="p-2">Utilisateur</th>
        <th class="p-2">Désignation</th>
        <th class="p-2">
          <span class="d-none d-xl-inline-block">Conditionnement</span>
          <span class="d-inline-block d-xl-none">Cdt.</span>
        </th>
        <th class="p-2">
          <span class="d-none d-xl-inline-block">Référence</span>
          <span class="d-inline-block d-xl-none">Ref.</span>
        </th>
        <th class="p-2">Offre</th>
        <th class="p-2">
          <span class="d-none d-xl-inline-block">Nomenclature</span>
          <span class="d-inline-block d-xl-none">Nom.</span>
        </th>
        <th class="p-2">
          <span class="d-none d-xl-inline-block">Prix unitaire</span>
          <span class="d-inline-block d-xl-none">P.U.</span>
        </th>
        <th class="p-2">
          <span class="d-none d-xl-inline-block">Quantité</span>
          <span class="d-inline-block d-xl-none">Qté.</span>
        </th>
        <th class="p-2">
          <span class="d-none d-xl-inline-block">Prix total</span>
          <span class="d-inline-block d-xl-none">Total</span>
        </th>
        <th class="p-2"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of order.items" [ngClass]="{'table-danger text-danger': hasError(item)}">
        <td class="align-middle p-1">{{ item.username }}</td>
        <td class="align-middle p-1">{{ item.name }}</td>
        <td class="align-middle p-1">{{ item.packaging }}</td>
        <td class="align-middle p-1">{{ item.reference }}</td>
        <td class="align-middle p-1">{{ item.offer_nb }}</td>
        <td class="align-middle p-1">{{ item.nomenclature }}</td>
        <td class="align-middle p-1">{{ item.price | currency:'EUR' }}</td>
        <td class="align-middle p-1">
          <input type="number" [(ngModel)]="item.quantity" class="form-control form-control-sm tiny"/>
        </td>
        <td class="align-middle p-1">{{ (item.price * item.quantity) | currency:'EUR' }}</td>
        <td class="align-middle p-1">
          <div class="btn-group">
            <button class="btn btn-dark" tooltip="confidentiel" [ngClass]="{'btn-outline-dark': !item.is_confidential}">
              <i class="fa fa-user-secret"></i>
            </button>
            <button class="btn btn-primary btn-sm" tooltip="modifier">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-sm" tooltip="supprimer">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer">
    <div class="btn-toolbar justify-content-between">

      <div class="btn-group">
        <button class="btn btn-success btn-sm" [disabled]="!isValid" (click)="nextStatus()">
          <i class="fa fa-check"></i> Commander
        </button>
        <button class="btn btn-danger btn-sm mr-2">
          <i class="fa fa-trash"></i> Supprimer
        </button>

        <button class="btn btn-info btn-sm">
          <i class="fa fa-plus"></i> Frais annexes
        </button>
        <button class="btn btn-info btn-sm">
          <i class="fa fa-plus"></i> Remises
        </button>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fa fa-paperclip"></i> pièces jointes
          <span class="badge badge-light">0</span>
        </button>
        <button type="button" class="btn btn-primary btn-sm">
          <i class="fa fa-comment"></i> commentaires
          <span class="badge badge-light">0</span>
        </button>
      </div>

    </div>
  </div>
</div>
