<div class="container-fluid pt-4">
  <button (click)="showCreateForm()" class="btn btn-primary pull-right">
    <i class="fa fa-plus"></i> ajouter une équipe
  </button>

  <div class="page-header">
    <h3 class="text-color4">
      <i class="fa fa-users"></i> Gestion des équipes
    </h3>
  </div>
  <h4 [hidden]="!loading"><i class="fa fa-spinner fa-spin"></i> Loading ...</h4>

  <app-alerts></app-alerts>

  <div *ngFor="let team of teams | async" class="card">
    <div class="card-header text-white bg-color2">
      {{ team.name }}
    </div>

    <div class="card-body">
      <table class="table table-striped table-responsive-lg">
        <thead class="table-dark bg-gradient-color5">
        <tr>
          <th class="p-1 pl-2">Utilisateur</th>
          <th class="p-1 pl-2">Nom</th>
          <th class="p-1 pl-2">Email</th>
          <th class="p-1 pl-2">Dernière connexion</th>
          <th class="p-1 pl-2"></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of team.members">
            <td>{{ member.user.username }}</td>
            <td>{{ member.user.first_name }} {{ member.user.last_name }}</td>
            <td>{{ member.user.email }}</td>
            <td>{{ member.user.last_login }}</td>
            <td>
              <div class="btn-group" *ngIf="isMe(member)">
                <button type="button" class="btn btn-primary btn-sm">
                  <i class="fa fa-edit"></i> Editer
                </button>
                <button type="button" class="btn btn-primary btn-sm">
                  <i class="fa fa-"></i> Changer de mot de passe
                </button>
              </div>

              <div class="btn-group" *ngIf="!isMe(member) && can('edit_member')">
                <button type="button" class="btn btn-primary btn-sm" tooltip="Modifier">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" tooltip="Nouveau mot de passe">
                  <i class="fa fa-key"></i>
                </button>
                <button type="button" class="btn btn-warning btn-sm" tooltip="{{ member.user.is_active ? 'Inactiver' : 'Activer'}}" (click)="toggleActive(member)">
                  <i class="fa" [ngClass]="{'fa-unlock': !member.user.is_active, 'fa-lock': member.user.is_active}"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" tooltip="supprimer">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
