<div class="container-fluid pt-4">
  <div class="btn-group pull-right">
    <button class="btn btn-info">
      <i class="fa fa-list"></i> détail de tous les budgets
    </button>
    <button class="btn btn-primary">
      <i class="fa fa-plus"></i> ajouter un budget
    </button>
  </div>

  <h3 class="text-color4 page-header">
    <i class="fa fa-bank"></i> Gestion des budgets
  </h3>

  <div class="d-lg-flex">
    <div class="bg-light p-2 border mb-md-3 mr-lg-3 rounded align-self-baseline">
      <app-budget-filter-form></app-budget-filter-form>
    </div>

    <div class="w-100" *ngIf="!budgetService.toggleBudgetDetails">
      <app-budget-list></app-budget-list>
    </div>

    <div class="w-100" *ngIf="budgetService.toggleBudgetDetails">
      <app-budget-detail></app-budget-detail>
    </div>
  </div>

</div>
