
<h4 class="pt-3" [hidden]="!loading"><i class="fa fa-spinner fa-spin"></i> Chargement des commandes ...</h4>

<div class="container-fluid" [hidden]="loading">
<div class="row h-100">
  <div id="sidebar" class="col-md-4 col-lg-3 col-xl-2 p-0 gray-100">
    <ul class="list-unstyled mb-0">

      <li>
        <a routerLink="cart" routerLinkActive="active" class="d-block p-2 pr-5">
          <i class="fa fa-fw fa-shopping-cart"></i> Panier
          <span class="badge badge-pill bg-color1 text-white">{{(orders | async | orderFilter: {status: 0}).length }}</span>
        </a>
      </li>

      <li>
        <a routerLink="validation" routerLinkActive="active" class="d-block p-2 pr-5">
          <i class="fa fa-fw fa-check"></i> Commandes à valider
          <span class="badge badge-pill bg-color1 text-white">{{(orders | async | orderFilter: {status: 1}).length }}</span>
        </a>
      </li>

      <li>
        <a routerLink="list" routerLinkActive="active" class="d-block p-2 pr-5">
          <i class="fa fa-fw fa-keyboard-o"></i> Commandes à saisir
          <span class="badge badge-pill bg-color1 text-white">{{(orders | async | orderFilter: {status: 2}).length }}</span>
        </a>
      </li>

      <li>
        <a routerLink="validation" routerLinkActive="active" class="d-block p-2 pr-5">
          <i class="fa fa-fw fa-building"></i> Réception
          <span class="badge badge-pill bg-color1 text-white">{{(orders | async | orderFilter: {status: 3}).length }}</span>
        </a>
      </li>

      <li>
        <a routerLink="validation" routerLinkActive="active" class="d-block p-2 pr-5">
          <i class="fa fa-fw fa-truck"></i> Réception magasin
          <span class="badge badge-pill bg-color1 text-white">{{(orders | async | orderFilter: {status: 4}).length }}</span>
        </a>
      </li>

    </ul>
  </div>
  <div class="col-md-8 col-lg-9 col-xl-10 pl-3 pt-3">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
