<div class="container-fluid h-100">
<div class="row h-100">
  <div class="col pt-5">

    <app-alerts></app-alerts>

    <h3 class="page-header">
      <i class="fa fa-briefcase"></i> Fournisseurs <small>{{ providerCount }}</small>
    </h3>
    <h4 [hidden]="!loading"><i class="fa fa-spinner fa-spin"></i> Loading ...</h4>
    <table class="table table-sm" [hidden]="loading">
      <thead class="thead-dark">
        <tr>
          <th>Nom</th>
          <th>Responsables</th>
          <th>Revendeur</th>
          <th>Notes</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let provider of providers">
        <td>{{provider.name}}</td>
        <td>{{provider.users_in_charge}}</td>
        <td>{{provider.reseller}}</td>
        <td>{{provider.notes}}</td>
        <td>
          <div class="btn-group btn-sm">
            <button class="btn btn-success btn-sm">
              <i class="fa fa-download"></i> importer produits
            </button>
            <button class="btn btn-primary btn-sm">
              <i class="fa fa-edit"></i> éditer
            </button>
            <button class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> supprimer
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4 h-100 p-5" style="background: #f1f1f1; border-left: 1px solid #ddd">
    <app-provider-form></app-provider-form>
  </div>
</div>
</div>
