<h3 class="page-header text-color2">
  <i class="fa fa-fax"></i> Commandes en cours <small>{{ (orders | async).length }}</small>
</h3>

<app-alerts></app-alerts>

<h3 [hidden]="!loading">
  <i class="fa fa-spinner fa-spin"></i> Chargement des commandes ...
</h3>

<table class="table table-condensed table-striped" [hidden]="loading">
  <thead class="thead-dark bg-gradient-color5">
  <tr>
    <th>Date</th>
    <th>Dernière MAJ</th>
    <th>Fournisseur</th>
    <th>Equipe</th>
    <th>Budget</th>
    <th>Montant</th>
    <th>Cmde N°</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders | async">
      <td>{{ order.date_created | date:"d/M/y" }}</td>
      <td>{{ order.last_change_human }}</td>
      <td>{{ order.provider }}</td>
      <td>{{ order.team }}</td>
      <td>{{ order.budget }}</td>
      <td></td>
      <td>{{ order.number }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
