@import url('https://fonts.googleapis.com/css?family=PT+Sans');
$font-family-sans-serif: 'PT Sans', sans-serif;

$brown: #5f431f;

$colors: (
  "brown": $brown
);

//$primary: #17a2b8;
$primary: #2278CF;

$theme-colors: (
  "brown": $brown
);
