<div class="d-flex h-100 text-center w-100 align-items-center">
  <app-alerts></app-alerts>

  <form class="form-signin" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>

    <h2 class="form-signin-heading text-color1">Connexion à BCG-Lab</h2>
    <input type="text" name="username" id="username" class="form-control" formControlName="username" autofocus="" placeholder="Identifiant">
    <input type="password" id="password" class="form-control" formControlName="password" placeholder="Mot de passe">

    <div class="btn-group w-100">
      <button type="submit" class="btn btn-lg btn-color1 w-75"
              [disabled]="loginForm.pristine || loginForm.invalid">
        <i class="fa" [ngClass]="{'fa-sign-in': !submitted, 'fa-spinner fa-spin': submitted}"></i> Connexion
      </button>
      <button type="button" class="btn btn-lg btn-primary w-25" tooltip="créer un compte" placement="auto">
        <i class="fa fa-user-plus"></i>
      </button>
    </div>
  </form>
</div>
